.container {
  width: 260px;
  height: 320px;
}

.pixel {
  height: 20px;
  width: 20px;
  float: left;
}

.pixel:nth-child(4),
.pixel:nth-child(5),
.pixel:nth-child(6),
.pixel:nth-child(7),
.pixel:nth-child(8),
.pixel:nth-child(9),
.pixel:nth-child(10),
.pixel:nth-child(16),
.pixel:nth-child(17),
.pixel:nth-child(18),
.pixel:nth-child(19),
.pixel:nth-child(20),
.pixel:nth-child(21),
.pixel:nth-child(22),
.pixel:nth-child(23),
.pixel:nth-child(24),
.pixel:nth-child(25),
.pixel:nth-child(94),
.pixel:nth-child(95),
.pixel:nth-child(97),
.pixel:nth-child(98),
.pixel:nth-child(99),
.pixel:nth-child(100),
.pixel:nth-child(106),
.pixel:nth-child(107),
.pixel:nth-child(108),
.pixel:nth-child(110),
.pixel:nth-child(111),
.pixel:nth-child(113),
.pixel:nth-child(114),
.pixel:nth-child(115),
.pixel:nth-child(118),
.pixel:nth-child(119),
.pixel:nth-child(120),
.pixel:nth-child(121),
.pixel:nth-child(126),
.pixel:nth-child(127),
.pixel:nth-child(128),
.pixel:nth-child(129),
.pixel:nth-child(133),
.pixel:nth-child(140) {
  background-color: red;
}

.pixel:nth-child(29),
.pixel:nth-child(30),
.pixel:nth-child(31),
.pixel:nth-child(41),
.pixel:nth-child(43),
.pixel:nth-child(54),
.pixel:nth-child(56),
.pixel:nth-child(57),
.pixel:nth-child(67),
.pixel:nth-child(68),
.pixel:nth-child(184),
.pixel:nth-child(185),
.pixel:nth-child(186),
.pixel:nth-child(191),
.pixel:nth-child(192),
.pixel:nth-child(193),
.pixel:nth-child(196),
.pixel:nth-child(197),
.pixel:nth-child(198),
.pixel:nth-child(199),
.pixel:nth-child(204),
.pixel:nth-child(205),
.pixel:nth-child(206),
.pixel:nth-child(207) {
  background-color: rgb(153, 108, 95);
}

.pixel:nth-child(32),
.pixel:nth-child(33),
.pixel:nth-child(34),
.pixel:nth-child(36),
.pixel:nth-child(42),
.pixel:nth-child(44),
.pixel:nth-child(45),
.pixel:nth-child(46),
.pixel:nth-child(47),
.pixel:nth-child(49),
.pixel:nth-child(50),
.pixel:nth-child(51),
.pixel:nth-child(55),
.pixel:nth-child(58),
.pixel:nth-child(59),
.pixel:nth-child(60),
.pixel:nth-child(61),
.pixel:nth-child(63),
.pixel:nth-child(64),
.pixel:nth-child(69),
.pixel:nth-child(70),
.pixel:nth-child(71),
.pixel:nth-child(72),
.pixel:nth-child(73),
.pixel:nth-child(82),
.pixel:nth-child(83),
.pixel:nth-child(84),
.pixel:nth-child(85),
.pixel:nth-child(86),
.pixel:nth-child(87),
.pixel:nth-child(88),
.pixel:nth-child(89),
.pixel:nth-child(131),
.pixel:nth-child(132),
.pixel:nth-child(141),
.pixel:nth-child(142),
.pixel:nth-child(144),
.pixel:nth-child(145),
.pixel:nth-child(146),
.pixel:nth-child(153),
.pixel:nth-child(154),
.pixel:nth-child(155),
.pixel:nth-child(157),
.pixel:nth-child(158),
.pixel:nth-child(167),
.pixel:nth-child(168) {
  background-color: rgb(233, 222, 200);
}

.pixel:nth-child(35),
.pixel:nth-child(48),
.pixel:nth-child(62),
.pixel:nth-child(74),
.pixel:nth-child(75),
.pixel:nth-child(76),
.pixel:nth-child(77) {
  background-color: black;
}

.pixel:nth-child(96),
.pixel:nth-child(109),
.pixel:nth-child(112),
.pixel:nth-child(122),
.pixel:nth-child(123),
.pixel:nth-child(124),
.pixel:nth-child(125),
.pixel:nth-child(134),
.pixel:nth-child(136),
.pixel:nth-child(137),
.pixel:nth-child(139),
.pixel:nth-child(147),
.pixel:nth-child(148),
.pixel:nth-child(149),
.pixel:nth-child(150),
.pixel:nth-child(151),
.pixel:nth-child(152),
.pixel:nth-child(159),
.pixel:nth-child(160),
.pixel:nth-child(161),
.pixel:nth-child(162),
.pixel:nth-child(163),
.pixel:nth-child(164),
.pixel:nth-child(165),
.pixel:nth-child(166),
.pixel:nth-child(172),
.pixel:nth-child(173),
.pixel:nth-child(174),
.pixel:nth-child(177),
.pixel:nth-child(178),
.pixel:nth-child(179) {
  background-color: cornflowerblue;
}

.pixel:nth-child(135),
.pixel:nth-child(138) {
  background-color: yellow;
}
