body {
  margin: 0;
  padding: 0;
}

.myfavfood {
  height: 300px;
  background-color: saddlebrown;
  font-family: "Inconsolata", monospace;
}

img {
  height: 75%;
}

h1 {
  color: rgb(122, 46, 37);
  font-family: cursive;
}

.innerDiv {
  color: silver;
  text-align: center;
  height: 100%;
  font-family: "Courier New", Courier, monospace;
}
