.nav-bar {
  background-color: cornflowerblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-family: fantasy;
  padding: 10px;
}

.nav-bar-menu {
  display: flex;
  list-style-type: none;
}

.nav-bar-item a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

a:hover {
  color: black;
}
