.notApp {
  text-align: center;

  height: auto;
}
.cartLayout {
  width: 100%;
  display: flex;
  margin-top: 3rem;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}
.cart {
  background-color: whitesmoke;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.productImage {
  height: 5rem;
  border-radius: 5%;
}
.cartProduct {
  margin: 10px 20px;
  padding: 10px 20px;
  width: 29rem;
}
