#paragraphID {
  background-color: tomato;
  color: chartreuse;
}

#buttonid {
  background-color: aqua;
  background: linear-gradient(
    90deg,
    rgba(3, 213, 217, 1) 0%,
    rgba(167, 26, 44, 0.8) 1%,
    rgba(3, 212, 255, 1) 0%
  );
}

.container {
  background-color: aqua;
  height: 200px;
  width: 200px;
  border: none;
  padding: 20px;
  border-radius: 10px;
  font-size: 10px;
}
